[Unit]
Description="uWSGI server instance configured to serve admrsh.com"
After=syslog.target

[Service]
ExecStart=/usr/local/bin/uwsgi --ini /var/www/admrsh.com_project/admrsh.com.ini
# Requires systemd version 211 or newer
RuntimeDirectory=uwsgi
KillSignal=SIGQUIT
ExecReload=/bin/kill -HUP %MAINPID
ExecStop=/bin/kill -INT $MAINPID
Restart=always
Type=notify
StandardError=syslog
NotifyAccess=all


[Install]
WantedBy=multi-user.target
