<!-- view (MVC) -->
{% extends "template.html" %}
{% block content %}
  <div class="content onepage" id="summary">
    <h1 align="center">Welcome to admrsh.com</h1>
    <!-- <p>Welcome! I'm glad something picqued Please take a look around. You can find some additional information about what's important to me
      both professionally and personally. There are a few code samples that highlight Hopefully you made it to this site on purpose. If so, thanks for 
    </p> -->
  </div>
  <div class="content onepage" id="code" style="background-color: #8f8f8f;">
    <h1 align="center">Code Samples</h1>
    <div class="row">
      <div class="col-md-6">
        <a href={{ url_for('code.socket_chat') }} class="thumbnail">
          <img src="..." alt="Socket Chat">
        </a>
      </div>
      <div class="col-md-6">
        <a href={{ url_for('code.infrastructure') }} class="thumbnail">
          <img src="..." alt="Infrastructure">
        </a>
      </div>
      <div class="col-md-6 col-md-offset-3">
        <a href="#" class="thumbnail">
          <img src="..." alt="...">
        </a>
      </div>
    </div> <!-- /.row -->
  </div> <!-- /.code -->
{% endblock %}
