{% extends "template.html" %}
{% block content %}
<div class="container-fluid one-page" id="summary">
  <div class="jumbotron">
    <h1 align="center">Welcome to admrsh.com</h1>
  </div>
    <!-- <p>Welcome! I'm glad something picqued Please take a look around. You can find some additional information about what's important to me both professionally and personally. There are a few code samples that highlight...
    Hopefully you made it to this site on purpose. If so, thanks for...</p> -->
</div> <!-- summary -->
<div class="container one-page" id="code" style="border-style: solid; border-color: #8f8f8f #ffffff #8f8f8f #ffffff;">
  <div class="page-header">
    <h1 align="center">Code Samples</h1>
  </div>
  <div class="row">
    <div class="col-md-6">
      <a href={{ url_for('code.socket_chat') }} class="thumbnail">
        <img src="..." alt="Socket Chat">
      </a>
    </div>
    <div class="col-md-6">
      <a href={{ url_for('code.atmo') }} class="thumbnail">
        <img src="..." alt="atmo">
      </a>
    </div>
  </div>
</div> <!-- code -->
<div class="container one-page" id="contact">
  <div class="page-header">
    <h1 align="center">Contact</h1>
  </div>
  <form action="{{ url_for('.email') }}" method="POST">
    <div class="form-group">
      <label class="sr-only" for="emailAddress">Email address</label>
      <input type="email" class="form-control" id="emailAddress" name="emailAddress" placeholder="Email">
    </div>
    <div class="form-group">
      <label class="sr-only" for="emailSubject">Email subject</label>
      <input type="text" class="form-control" id="emailSubject" name="emailSubject" placeholder="Subject">
    </div>
    <div class="form-group">
      <label class="sr-only" for="emailMessage">Email message</label>
      <textarea class="form-control" id="emailMessage" name="emailMessage" placeholder="Message" rows="3"></textarea>
    </div>
    <button type="submit" class="btn btn-default" id="emailSubmit">Send</button>
  </form>
</div> <!-- contact -->

<script=text/javascript>
  $("#emailSubmit").submit(function( event ) {
      event.preventDefault();
      var form = $( this ),
        url = form.attr( "action" );
      $.post( url, form.serialize() );
  });
</script>
{% endblock %}
