<!-- view (MVC) -->
{% extends "template.html" %}
{% block content %}
  <div class="content" id="summary">
    <p>Welcome to admrsh.com</p>
  </div>
  <div class="content" id="projects" style="background-color: #8f8f8f;">
    <p>Projects</p>
    <div class="row">
      <div class="col-md-6">
        <a href="#" class="thumbnail">
          <img src="..." alt="...">
        </a>
      </div>
      <div class="col-md-6">
        <a href="#" class="thumbnail">
          <img src="..." alt="...">
        </a>
      </div>
      <div class="col-md-6 col-md-offset-3">
        <a href="#" class="thumbnail">
          <img src="..." alt="...">
        </a>
      </div>
    </div> <!-- /.row -->
  </div> <!-- /.projects -->
{% endblock %}
