<!DOCTYPE html>
<html lang="en">
  <head>
    {% if title %}
    <title>{{ title }} | admrsh</title>
    {% else %}
    <title>admrsh</title>
    {% endif %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link href="static/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/css/font-awesome.min.css" rel="stylesheet">
    <link href="static/css/admrsh.css" rel="stylesheet">
  </head>
  <body>
    <div class="container-fluid">

      <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false">
              <span class="sr-only">menu</span>
              <span class="icon-bar top-bar"></span>
              <span class="icon-bar middle-bar"></span>
              <span class="icon-bar bottom-bar"></span>
            </button>
          </div> <!-- /.navbar-header -->
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="navbar">
            <ul class="nav navbar-nav">
              <li><a href={{ url_for('base.home') }}>home</a></li>
              <li><a href="static/derek_marsh_resume.pdf">resume</a></li>
              <li><a href={{ url_for('base.code') }}>code samples</a></li>
              <li><a href={{ url_for('base.home', _anchor="projects") }}>projects</a></li>
              <li><a href={{ url_for('base.contact') }}>contact</a></li>
            </ul>
          </div> <!-- /.navbar-collapse -->
        </div> <!-- /.container-fluid -->
      </nav>

      <!-- Globally required - some apps may require more in their own static -->
      <!-- can't move to end of body to increase page load performance because of template inheritance-->
      <script src="static/js/jquery-3.2.1.min.js"></script>
      <script src="static/js/bootstrap.min.js"></script>

      <!-- always collapse the navbar even when navigating based on anchors -->
      <script type=text/javascript>
        $('#navbar').on('click', function() {
          //console.log('clicked #navbar');
          $('.navbar-collapse').collapse('hide');
        });
      </script>

      <div id="all">
        <div id="notify">
          {% for message in get_flashed_messages() %}
            <div class="flash">{{ message }}</div>
          {% endfor %}
          {% if error %}
            <p class="error"><strong>Error:</strong> {{ error }}
          {% endif %}
        </div>
        <div id="main">
          <!-- inheritance -->
          {% block content %}
          {% endblock %}
          <!-- end inheritance -->
        </div> <!-- /.main -->
        <div id="footer">
          <div class="row">
            <div class=".col-md-4 .col-md-offset-3">

            </div>
            <div class=".col-md-4 .col-md-offset-4">
              <a href="https://www.github.com/dmarsh19">
                <i class="fa fa-github fa-3x"></i>
              </a>
              <a href="https://www.linkedin.com/in/derek-marsh-b03450a7">
                <i class="fa fa-linkedin-square fa-3x"></i>
              </a>
            </div>
          </div> <!-- /.row -->
        </div> <!-- /.footer -->
      </div> <!-- /.all -->

    </div> <!-- /.container-fluid -->
  </body>
</html>
