<!DOCTYPE html>
<html lang="en">
<html>
  <head>
    <title>admrsh</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- responsive, change scale based on screen size -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- bootstrap -->
<!--    <link href="static/css/bootstrap.min.css" rel="stylesheet" media="screen"> -->
    <link href="static/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mainNavbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href={{ url_for('base.main') }}>
            <span class="glyphicon glyphicon-home"></span>admrsh</a>
        </div> <!-- /.navbar-header -->

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="mainNavbar">
          <ul class="nav navbar-nav">
          </ul>
        </div> <!-- /.navbar-collapse -->
      </div> <!-- /.container-fluid -->
    </nav>


    <!-- ADDITIONAL GLOBALLY REQUIRED LIBRARIES (some apps may require more in their own static) -->
    <!-- can't move to end of body to increase page load performance because of template inheritance-->
    <script src="static/js/jquery-3.2.1.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>

    <div class="container">
      {% for message in get_flashed_messages() %}
        <div class="flash">{{ message }}</div>
      {% endfor %}
      {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}
      {% endif %}
      <!-- inheritance -->
      {% block content %}
      {% endblock %}
      <!-- end inheritance -->
    </div>
  </body>
</html>
